.slider {
    position: relative;
    width: 500px;
    height: 30px;
    overflow: hidden;
}

.track {
    margin-top: 10px;
    width: 100%;
    height: 10px;
    background-color: #d3d3d3;
}

.thumb {
    position: absolute;
    margin-top: -20px;
    height: 30px;
    width: 30px;
    background-color: #4CAF50;
    border-radius: 50%;
    cursor: pointer;
}

.range {
    position: absolute;
    height: 10px;
    width: 61%;
    left: 21%;
    margin-top: -10px;
    background-color: teal;
}